@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    font-size: 3.2vw !important;
    font-family: 'Inter', sans-serif;
}

@media not all and (max-width: 768px) {
    html,
    body {
        font-size: 0.8vw !important;
    }
}